{% extends extend %}

{% block _main %}

    <h2>client_form</h2>

    <div class="row py-4">
        <h4>Output one by one</h4>
        <hr>
        {{ client_form.header }}
        {{ client_form.__start__ }} <!--  Add <form> tag -->
        {{ client_form.first_name }}
        {{ client_form.last_name }}
        {{ radgro(client_form.turn_direction_left, "turn_direction_client") }}
        {{ radgro(client_form.turn_direction_right, "turn_direction_client") }}

        <br/>
        <p>Can also build datalists (single or double click to see values):</p>
        {{ client_form.datalist }}

        {{ client_form.__end__ }} <!--  Add </form> tag -->
    </div>

    <div class="row py-4">
        <h4>Accessing the upval method in the template</h4>
        <hr>
        {{ client_form.__start__ }} <!--  Add <form> tag -->
        {{ upval(client_form.first_name, new_first_name) }}
        {{ upval(client_form.last_name, new_last_name) }}
        {{ client_form.__end__ }} <!--  Add </form> tag -->
    </div>

    <div class="row py-4">
        <h4>looping over upval method with dummy query</h4>
        <hr>

        {% for key, value in dummy_query.items() %}
            <div class="card m-1">
                <div class="card-body">
                    {{ client_form.__start__ }} <!--  Add <form> tag -->
                    {{ upval(client_form.first_name, value.first_name) }}
                    {{ upval(client_form.last_name, value.last_name) }}
                    {{ client_form.__end__ }} <!--  Add </form> tag -->
                </div>
            </div>
        {% endfor %}

    </div>


    <div class="row py-4">
        <h4>Loop over other client_form</h4>
        <hr>
        {% for key, value in client_form.items() %}
            {{ radgro(value, "turn_direction" + "_loop_client") }}
        {% endfor %}
    </div>

    <h2>address_form</h2>

    <div class="row py-4">
        <h4>Loop over other address_form</h4>
        <hr>
        {% for key, value in address_form.items() %}
            {{ radgro(value, "turn_direction" + "_loop_address") }}
        {% endfor %}
    </div>

{% endblock %}

