{% extends extend %}

{% block _main %}

    <div class="row py-4">
        <h2>Can output one by one</h2>
        <h5>client_form Form</h5>
        <hr>
        {{ client_form.__start__ }}{# Add <form> tags #}
        {{ client_form.first_name }}
        {{ client_form.last_name }}
        {{ client_form.__end__ }}{# Add <form> tags #}
    </div>


    <div class="row py-4">
        <h2>Loop over other passed in forms</h2>
        <h5>additional Form looped, with append and prepend examples</h5>
        <hr>
        {% for key, value in additional.items() %}
            {{ value }}
        {% endfor %}
    </div>

    <div class="row py-4">
        <h2>Form tags generated</h2>
        <h5>additional2 Form looped</h5>
        <hr>
        {% for key, value in additional2.items() %}
            {{ value }}
        {% endfor %}
    </div>

    <div class="row py-4">
        <h2>Form tags not generated</h2>
        <h5>additional3 Form looped</h5>
        <hr>
        {% for key, value in additional3.items() %}
            {{ value }}
        {% endfor %}
    </div>

    <div class="row py-4">
        <h2>Or loop over joined forms</h2>
        <h5>client_form.joined(address_form) Form looped (form tags removed from address_form due to join)</h5>
        <hr>
        {% for key, value in client_form.items() %}
            {{ value }}
        {% endfor %}
    </div>

{% endblock %}

